@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if ((this.User.IsInRole("Customer")) && (this.User.IsInRole("Seller")))
{
    @if (ViewContext.ActionDescriptor.RouteValues["area"] == "Seller")
    {
        <div class="dropdown me-5">
            <button class="avatar-container" type="button" id="dropdownmenubutton1" data-bs-toggle="dropdown">
                <img src="/images/user/hieu.jpg" alt="" class="avatar-image">
            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownmenubutton1">
                <li><a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                <li><a class="dropdown-item" id="" asp-area="User" asp-controller="Home" asp-action="Index">User</a></li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Seller" })">
                        <button id="logout" type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
                @* <li><a class="dropdown-item" asp-area="Seller" asp-page="Book">Shop</a></li> *@
            </ul>
        </div>
    }
    else if (ViewContext.ActionDescriptor.RouteValues["area"] == "User")
    {
        <div class="dropdown me-5">
            <button class="avatar-container" type="button" id="dropdownmenubutton1" data-bs-toggle="dropdown">
                <img src="/images/user/hieu.jpg" alt="" class="avatar-image">
            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownmenubutton1">
                <li><a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                <li><a class="dropdown-item" id="" asp-area="Seller" asp-controller="Home" asp-action="Index">Seller</a></li>

                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Seller" })">
                        <button id="logout" type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
                @* <li><a class="dropdown-item" asp-area="Seller" asp-page="Book">Shop</a></li> *@
            </ul>
        </div>
    }
}
else if (this.User.IsInRole("Admin"))
{
    <div class="dropdown me-5">
        <button class="avatar-container" type="button" id="dropdownmenubutton1" data-bs-toggle="dropdown">
            <img src="/images/user/hieu.jpg" alt="" class="avatar-image">
        </button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownmenubutton1">
            <li><a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
            <li><a class="dropdown-item" id="" asp-area="User" asp-controller="Home" asp-action="Index">User</a></li>
            <li><a class="dropdown-item" id="" asp-area="Seller" asp-controller="Home" asp-action="Index">User</a></li>
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Seller" })">
                    <button id="logout" type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
            @* <li><a class="dropdown-item" asp-area="Seller" asp-page="Book">Shop</a></li> *@
        </ul>
    </div>
}
else
{
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
        <img src="/images/User/defaultUser.png" alt="" class="avatar-image">
    </a>
}
