@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    @if ((this.User.IsInRole("Customer")) && (this.User.IsInRole("Seller")))
{
        @if (ViewContext.ActionDescriptor.RouteValues["area"] == "Seller")
        {
        <a class="navbar-brand" asp-area="Seller" asp-controller="Home" asp-action="Index">
            <img src="/logo.svg" width="50px" class="ms-5">
            <span class="align-bottom">ook Store</span>

        </a>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1 justify-content-start w-25">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Seller" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Seller" asp-controller="Book" asp-action="Index">Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Seller" asp-controller="Order" asp-action="Index">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Seller" asp-controller="Request" asp-action="Index">RequestCategory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="Home" asp-action="Index">Back To Home</a>
                </li>
            </ul>
            <partial name="_login" />
        </div>
        }
        else if (ViewContext.ActionDescriptor.RouteValues["area"] == "User")
        {
        <a class="navbar-brand" asp-area="User" asp-controller="Home" asp-action="Index">
            <img src="/logo.svg" width="50px" class="ms-5">
            <span class="align-bottom">ook Store</span>

        </a>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1 justify-content-start w-25">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="Order" asp-action="Index">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="User" asp-controller="Cart" asp-action="Index">Cart</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <a class="position-relative d-inline-block me-3  asp-area=" User" asp-controller="Cart" asp-action="Index">
                <img src="/icon/cart.png" class="me-2" />
                <span id="countCart" class="badge rounded-pill badge-notification bg-danger position-absolute top-0 start-100 translate-middle"></span>
            </a>
            <partial name="_login" class="ms-3" />
        </div>
        }
    }
    else if (this.User.IsInRole("Admin"))
    {
    <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
        <img src="/logo.svg" width="50px" class="ms-5">
        <span class="align-bottom">ook Store</span>

    </a>
    <ul class="navbar-nav flex-grow-1 justify-content-start w-25">

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="User" asp-controller="Home" asp-action="Index">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Request" asp-action="Index">Request from Seller</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
        </li>
    </ul>
    <partial name="_login" />
    }
    else
    {
    <a class="navbar-brand" asp-area="User" asp-controller="Home" asp-action="Index">
        <img src="/logo.svg" width="50px" class="ms-5">
        <span class="align-bottom">ook Store</span>

    </a>
    <partial name="_login" />
    }


