@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<<<<<<<< HEAD:Areas/Customer/Views/Home/Index.cshtml
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core 123123!adnaskdk</a>.</p>
========
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>>> a8f2e274b68d90f2bfb690a815c8ca6508ac7621:Areas/User/Views/Home/Index.cshtml
</div>
